.container {
  width: 80%;
  margin: 0 auto;
  font-family: 'Roboto';
  font-weight: 500;
}

.resultsCount {
  padding: 1.25rem 0;
  line-height: 2rem;
  font-size: 1.25rem;
  font-weight: 700;
}

.listItem {
  border: 1px solid gray;
  padding: 1rem;
}

.listItemTitle {
  font-size: 1rem;
  line-height: 2rem;
  color: #166CD7;
}

.listItemDescription {
  color: #6F7781;
  font-weight: 700;
  padding-bottom: 1rem;
}

.listItemInfo {
  font-size: 0.75rem;
}

.listItemInfo * {
  padding: 0.5rem;
}