.header {
  background: #000;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  min-height: 4rem;
}

.queryInput {
  height: 2.5rem;
  border-radius: 0.5rem;
}

.main {
  width: 70%;
  max-width: 60rem;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.resultsCount {
  padding: 1.25rem 0;
  line-height: 2rem;
  font-size: 1.25rem;
  font-weight: 700;
}

.listItem {
  padding: 1rem 0;
  border-top: 1px solid var(--gray);
  display: flex;
  line-height: 1.5rem;
}

.listItemLeft {
  width: 1.5rem;
}

.listItemRight {
  flex: 1;
}

.listItemIcon {
  width: 1rem;
  height: 1rem;
  margin: 0 0.5rem 1rem 0;
}

.listItemTitle,
.listItemSubtitle {
  font-size: 1rem;
  line-height: 1.5rem;
}

.listItemTitle {
  font-family: "Segoe UI";
  font-weight: 600;
  color: var(--blue);
}

.listItemSubtitle {
  color: var(--gray);
  padding-bottom: 1rem;
}

.listItemInfo {
  color: var(--gray);
  font-size: 0.75rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.listItemInfo > * {
  padding-right: 1rem;
}

.star {
  display: flex;
  align-items: center;
}

.starIcon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.25rem;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
}

.paginationBtn {
  background: none;
  color: var(--blue);
  box-shadow: none;
  border: none;
  margin: 1.5rem 1rem;
  font-weight: 500;
  font-size: 1.1rem;
}

/* SINGLE USER PAGE */

.avatar {
  width: 296px;
  height: 296px;
  border-radius: 50%;
  margin-top: 2.8rem;
}

.listItemData {
  width: 100%;
  padding-left: 1rem;
}

.listItemData > * {
  width: 100%;
}

.avatarSmall {
  border-radius: 50%;
}

.userData {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userInfo > * {
  padding: 0.5rem;
}
